@{
    ViewData["Title"] = "Home Page";
}

<script>
    function getcode() {

        $.ajax({
                url: "../WeiXinWeb/GetCode",
                type: 'get',
                dataType: 'JSON',
                //data: { City: "@ViewData["city"]" },
            success: function (data) {
                alert(1);

                },
                error: function () {
                    alert(0);
                }
            })

    }

</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<button onclick="getcode()"> sssssssssssssssssssssssssssss</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
